{% extends 'base.html.twig' %}


{% block title %} Générateur de mot de passe {% endblock %}



{% block body %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <main>
                    <h1>Générateur de mot de passe</h1>

                    <form action="{{ path('app_generate') }}" method="get">
                
                        <div>
                            <label for="longueur">Longueur du mot de passe</label>
                            <select name="longueur" id="longueur">
                                {% for i in  8..60 %}
                                <option value="{{ i }}"> {{ i }} </option>
                                {% endfor %}
                            </select>
                        </div>
                
                        <div>
                            <label for="majuscule">Lettres en majuscules</label>
                            <input name="majuscule" type="checkbox" id="majuscule">
                        </div>
                
                        <div>
                            <label for="nombre">Nombres </label>
                            <input name="nombre" type="checkbox" id="nombre">
                        </div>
                
                        <div>
                            <label for="char_spec">Caractères spéciaux</label>
                            <input name="char_spec" type="checkbox" id="char_spec">
                        </div>
                
                        <button type="submit"> Générer un mot de passe</button>
                    </form>
                   </main>

                    <footer> 
                        <p>
                        Créé par Maha Bouchiba &hearts;
                        </p>
                    </footer>
            </div>
        </div>
    </div>


{% endblock %}